:root {
  --baseColor: #8e2f5c;
  --baseColorLight: #d58eb0;
  --baseColorDark: #6a123c;
  --lightGrey: #e6e6e6;
  --MediumGrey: #949494;
  --MediumGreyBorder: 0.1rem solid #cfcfcf;
  --DarkGrey: #6d6c6c;
  --Light: #fff;
  --DarkShadow: 0 2rem 6rem #000000af;
  --LightShadow: 0 0.5rem 1rem #000000af; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* % from default value 16px now the default value is 10px an I can easy work with rem*/
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--baseColor);
  color: var(--MediumGrey);
  font-weight: 400;
  line-height: 1.6;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

.logo {
  font-size: 4rem;
  font-family: "Syne Tactile", cursive;
  margin-left: 2rem; }
  .logo span {
    color: var(--baseColor); }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--lightGrey);
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 10rem;
    width: 90%;
    transition: all 0.2s;
    margin-right: -3rem; }
    .search__input:focus {
      outline: none;
      width: 100%; }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      opacity: 0.6; }
      .search__input::-webkit-input-placeholder:active {
        opacity: 1; }
  .search__button {
    border: none;
    background-color: transparent;
    transition: all 2s; }
    .search__button:focus {
      outline: none; }
    .search__button:hover {
      transform: rotate(720deg); }
    .search__button:active {
      transform: scale(1.3); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--MediumGrey); }

.user-nav {
  margin-right: 1.5rem;
  align-self: stretch;
  display: flex;
  align-items: center; }
  .user-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center; }
    .user-nav > *:hover {
      background-color: var(--lightGrey); }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--MediumGrey); }
  .user-nav__notification {
    font-size: 0.8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--baseColor);
    color: var(--Light);
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .user-nav__user-photo {
    height: 3.75rem;
    width: 3.75rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 0.5rem; }

.side-nav {
  margin-top: 4rem; }
  .side-nav__item {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    position: relative; }
    .side-nav__item:not(:last-child) {
      margin-bottom: 0.5rem; }
  .side-nav__item::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 0.3rem;
    background-color: var(--baseColor);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(0.72, 0.04, 0, 0.99) 0.3s, opacity 0.1s; }
  .side-nav__item:hover::before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav__item:active::before {
    opacity: 0.8; }
  .side-nav__link:link, .side-nav__link:visited {
    text-decoration: none;
    color: var(--lightGrey);
    font-size: 1.5rem;
    text-transform: uppercase;
    display: block;
    padding: 1rem 2.5em;
    text-align: right;
    display: flex;
    align-items: center;
    z-index: 2; }
  .side-nav__icon {
    width: 2rem;
    height: 2rem;
    fill: currentColor;
    margin-left: 1.5rem; }

.legal {
  font-size: 1.2rem;
  text-align: center;
  padding: 2.5rem;
  color: var(--lightGrey); }

.gallery {
  display: flex; }
  .gallery__photo {
    width: 100%;
    height: 20rem;
    display: block; }

.overview {
  display: flex;
  align-items: center;
  border-bottom: var(--MediumGreyBorder);
  background-color: var(--Light); }
  .overview__heading {
    padding: 1.5rem 2rem;
    font-size: 2.5rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.1rem; }
  .overview__stars {
    margin-right: auto;
    display: flex; }
  .overview__icon-stars, .overview__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--baseColorLight); }
  .overview__icon-location {
    margin-right: 1rem; }
  .overview__location {
    font-size: 1.2rem;
    display: flex;
    align-items: center; }
  .overview__rating {
    align-self: stretch;
    background-color: var(--baseColor);
    color: var(--Light);
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .overview__rating-average {
    font-size: 2.25rem;
    font-weight: 300; }
  .overview__rating-count {
    font-size: 0.8rem;
    text-transform: uppercase; }

.btn-inline {
  border: none;
  color: var(--baseColor);
  font-size: inherit;
  background-color: transparent;
  border-bottom: 0.1rem solid currentColor;
  padding-bottom: 0.2rem;
  display: inline-block;
  transition: all 0.2s;
  margin-right: 1rem;
  cursor: pointer; }
  .btn-inline span {
    margin-left: 0.3rem;
    transition: all 0.2s; }
  .btn-inline:hover {
    color: var(--MediumGreyBorder);
    outline: none; }
    .btn-inline:hover span {
      margin-left: 0.8rem; }
  .btn-inline:focus {
    outline: none;
    animation: pulsate 1s infinite; }

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: var(--DarkShadow); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

.recommend {
  display: flex;
  align-items: center;
  font-size: 1.3rem; }
  .recommend__photo {
    box-sizing: content-box;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    object-fit: cover;
    border: 0.2rem solid var(--Light); }
    .recommend__photo:not(:last-child) {
      margin-right: -1.5rem; }
  .recommend__count {
    margin-right: auto; }

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem; }

.list {
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: var(--MediumGreyBorder);
  border-bottom: var(--MediumGreyBorder);
  display: flex;
  flex-wrap: wrap; }
  .list__item {
    flex: 0 0 50%;
    margin-bottom: 0.7rem; }
  .list__item-check-mark {
    color: var(--baseColorLight); }

.review {
  background-color: var(--Light);
  box-shadow: var(--LightShadow);
  padding: 3rem;
  margin-bottom: 3.5rem;
  border-radius: 0.5rem;
  position: relative; }
  .review__text {
    margin-bottom: 1rem; }
  .review__user {
    display: flex;
    align-items: center; }
  .review__photo {
    box-sizing: content-box;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    object-fit: cover; }
  .review__user-box {
    margin-left: 0.5rem; }
  .review__user-name {
    font-size: 1.2rem; }
  .review__user-date {
    font-size: 1rem;
    color: var(--baseColorLight); }
  .review__rating {
    font-size: 4rem;
    color: var(--baseColorLight);
    margin-left: auto; }
  .review::before {
    content: "\201D";
    font-size: 15rem;
    position: absolute;
    top: -6rem;
    left: 1rem;
    color: #d58eb03f; }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--lightGrey);
  box-shadow: var(--DarkShadow); }

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: var(--Light);
  box-shadow: var(--LightShadow);
  border-bottom: var(--MediumGreyBorder);
  z-index: 99;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.content {
  display: flex; }

.sidebar {
  background-color: var(--DarkGrey);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.hotel-view {
  flex: 1; }

.detail {
  font-size: 1.4rem;
  display: flex;
  padding: 4.5rem;
  background-color: var(--lightGrey);
  border-bottom: var(--MediumGreyBorder); }

.description {
  border-radius: 0.5rem;
  background-color: var(--Light);
  box-shadow: var(--LightShadow);
  padding: 3rem;
  flex: 0 0 60%;
  margin-left: 4.5rem; }

.user-reviews {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center; }
