.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--lightGrey);
  box-shadow: var(--DarkShadow);

  @media only screen and (max-width: 75em) {
    margin: 0;
    max-width: 100%;
  }
}

.header {
  font-size: 1.4rem;
  background-color: var(--Light);
  box-shadow: var(--LightShadow);
  border-bottom: var(--MediumGreyBorder);
  z-index: 99;
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  @media only screen and (max-width: 31.25em) {
    order: 1;
    flex-wrap: wrap;
    align-content: space-around;
  }
}

.content {
  display: flex;

  @media only screen and (max-width: 56.25em) {
    flex-direction: column;
  }
}

.sidebar {
  background-color: var(--DarkGrey);
  flex: 0 0 18%; //flex firs if it's grow -  no, second if it's shrunk - no, but always stay 18% width
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media only screen and (max-width: 56.25em) {
    order: 1;
  }
}

.hotel-view {
  flex: 1; // occupies all empty space
  @media only screen and (max-width: 56.25em) {
    order: 2;
  }
}

// Details about rooms and reviews
.detail {
  font-size: 1.4rem;
  display: flex;
  padding: 4.5rem;
  background-color: var(--lightGrey);
  border-bottom: var(--MediumGreyBorder);
  @media only screen and (max-width: 56.25em) {
    padding: 1.5rem;
  }

  @media only screen and (max-width: 31.25em) {
    flex-direction: column;
  }
}

.description {
  border-radius: 0.5rem;
  background-color: var(--Light);
  box-shadow: var(--LightShadow);
  padding: 3rem;
  flex: 0 0 60%;
  margin-left: 4.5rem;
  @media only screen and (max-width: 56.25em) {
    padding: 1.5rem;
    margin-left: 1.5rem;
  }
  @media only screen and (max-width: 31.25em) {
    order: 1;
    margin-left: 0;
  }
}

.user-reviews {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media only screen and (max-width: 31.25em) {
    order: 2;
    margin-top: 1rem;
  }
}
